section.ruls-room
	div.ruls-room__column-left
		h2.ruls-room__title Правила
		ul.ruls-room__list
			li.ruls-room__item Нельзя с питомцами
			li.ruls-room__item Без вечеринок и мероприятии
			li.ruls-room__item Время прибытия - после 13:00, а выезд до 12:00
	div.ruls-room__column-right
		h2.ruls-room__title Отмена
		p.ruls-room__text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.