section.ruls-room
	div.column-left
		h2.ruls-room__title Правила
		ul.ruls-room__list
			li.ruls-room__item Нельзя с питомцами
			li.ruls-room__item Без вечеринок и мероприятии
			li.ruls-room__item Время прибытия - после 13:00, а выезд до 12:00
	div.column-right
		h2.ruls-room__title Отмена
		p.ruls-room__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error laboriosam, non, quasi asperiores, perferendis officiis itaque laborum veritatis reiciendis nihil necessitatibus enim cumque pariatur ipsum deserunt! Quis rerum, qui voluptates.