section.comments
	div.comments__inner
		h2.comments__title Отзывы посетителей номера
		span.comments__count <span class="comments__count-value">2</span> отзыва
	ul.comments__list
		li.comments__item
			div.comments__column-top
				img.user-pic(src="#" alt="картинка пользователя")
				h3.user-name Мурад Сарафанов
				p.time-add-comments (время доб коментария) 5 дней назад
			div.comments__column-bottom
				div.likes <span class="count-likes">12</span>
				div.comments__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime deserunt eos facere voluptatem harum soluta id ea sequi libero, expedita molestias autem, facilis dolore rem doloremque ducimus animi. Velit, ullam.
				//- сделать шаблон