section.comments
	div.comments__inner
		h2.comments__title Отзывы посетителей номера
		span.comments__count <span class="comments__count-value">2</span> отзыва
	ul.comments__list
		li.comments__item
			div.comments__column-top
				div.comments__column-left
					img.user-pic(src="../img/main-background.jpg" alt="картинка пользователя")
				div.comments__column-right
					h3.user-name Мурад Сарафанов
					p.time-add-comments 5 дней назад
			div.comments__column-bottom
				div.likes <span class="count-likes">12</span>
				div.comments__text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
				//- сделать шаблон