main.page-catalog-item
  include ../rooms-photos/rooms-photos.pug
  div.page-catalog-item__container
    div.column-left
      include ../info-about-room/info-room.pug
      include ../comments/comments.pug
      include ../ruls-room/ruls-room.pug
    div.column-right
      include ../card-order/card-order.pug