footer.footer.container
  div.footer__row.footer__row--top
    div.footer__inner
      a.footer__link-logo
        include ../../../img/logo.svg
      p.footer__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    nav.footer__inner.footer__inner--navigation
      section.nav
        h4.nav__title Навигация
        ul.nav__list
          li.nav__item
            a.nav__link(href="/mock-address/change-me") О нас
          li.nav__item
            a.nav__link(href="/mock-address/change-me") Новости
          li.nav__item
            a.nav__link(href="/mock-address/change-me") Служба поддержки
          li.nav__item
            a.nav__link(href="/mock-address/change-me") Услуги
      section.about-us
        h4.about-us__title О нас 
        ul.about-us__list 
          li.about-us__item
            a.about-us__link(href="/mock-address/change-me") О сервисе
          li.about-us__item
            a.about-us__link(href="/mock-address/change-me") Наша команда
          li.about-us__item
            a.about-us__link(href="/mock-address/change-me") Вакансии
          li.about-us__item
            a.about-us__link(href="/mock-address/change-me") Инвесторы
      section.support
        h4.support__title Служба поддержки
        ul.support__list
          li.support__item
            a.support__link(href="/mock-address/change-me") Соглашения
          li.support__item
            a.support__link(href="/mock-address/change-me") Сообщества
          li.support__item
            a.support__link(href="/mock-address/change-me") Связь с нами
    section.subscribe
      h4.subscibe__title Подписка
      p.subscribe__text Получайте специальные<br> предложения и новости сервиса
      form.subscribe__email(action="#" method="post")
        input.email(type="text" placeholder="Email")
  div.footer__row.footer__row--bottom
    p.copyrigth Copyright © 2018 Toxin отель. Все права защищены.
    div.social.footer__social
      a.social-btn.social-btn--twitter(href="/mock-address/change-me") twitter
      a.social-btn.social-btn--facebook(href="/mock-address/change-me") facebook
      a.social-btn.social-btn--inst(href="/mock-address/change-me") instagramm