section.sidebar
  form.filter(action="/mock-address/change-me" method="post")
    div.date-picker.filter__item
      label.filter__title(for="datepicker") Дата пребывания в отеле
      input.filter__input(type="text" id="datepicker" placeholder="19 авг - 23 авг" readonly)
    div.select-visitors.filter__item
      label.filter__title(for="select-visitors") Гости
      input.filter__input(type="text" id="select-visitors" placeholder="3 гостя, 1 младенец" readonly)
      div.select-visitors__popup
        div.select-visitors__inner
        span.select-visitors__clear Очистить
        span.select-visitors__close Выполнить
    div.range-price.filter__item
      h3.filter__title Диапозон цены
      div.range-price__value
        input.range-price__min(type="text" placeholder="5000 P")
        input.range-price__max(type="text" placeholder="10000 P")
      //- сюда вставляется слайдер
      div.range-slider 
      p.range-price__text Стоимость за сутки пребывания в номере
    div.services.filter__item
      h3.filter__title Услуги
      ul.services__list.filter__list
        li.services__item
          input.services__input.filter__checkbox(type="checkbox" name="smoke" id="smoke")
          label.services__label(for="smoke") Можно курить
        li.services__item
          input.services__input.filter__checkbox(type="checkbox" name="pets" id="pets" checked)
          label.services__label(for="pest") Можно с питомцами
        li.services__item
          input.services__input.filter__checkbox(type="checkbox" name="visitors" id="visitors" checked)
          label.services__label(for="visitors") Можно пригласить гостей (до 10 человек)
    div.room-availability.filter__item
      h3.filter__title Доступность
      ul.availability__list.filter__list
        li.availability__item
          input.availability__input.filter__checkbox(type="checkbox" id="wide-corridor")
          label.availability__label(for="wide-corridor") Широкий коридор <span>Ширина коридоров в номере не менее 91 см.</span>
        li.availability__item
          input.availability__input.filter__checkbox(type="checkbox" id="assistant")
          label.availability__label(for="assistant") Помощник для инвалидов <span>На 1 этаже вас встретит специалист и проводит до номера</span>
    div.room-amenities.filter__item
      h3.filter__title Удобства номера
      input.room-amenities__input.filter__input(type="text" id="room-amenities" readonly placeholder="2 спальни, 2 кровати...")
      div.room-amenities__inner
    div.add-room-amenities.filter__item
      h3.filter__title Дополнительные удобства
      ul.add-room-amenities__list.filter__list
        li.add-room-amenities__item.filter__list
          input.add-room-amenities__input.filter__checkbox(type="checkbox" name="breakfast" id="breakfast")
          label.add-room-amenities__label(for="breakfast") Завтрак
        li.add-room-amenities__item
          input.add-room-amenities__input.filter__checkbox(type="checkbox" name="table" id="table" checked)
          label.add-room-amenities__label(for="table") Письменный стол
        li.add-room-amenities__item
          input.add-room-amenities__input.filter__checkbox(type="checkbox" name="baby-chair" id="baby-chair" checked)
          label.add-room-amenities__label(for="baby-chair") Стул для кормления
        li.add-room-amenities__item
          input.add-room-amenities__input.filter__checkbox(type="checkbox" name="cot" id="cot" checked)
          label.add-room-amenities__label(for="cot") Кроватка
        li.add-room-amenities__item
          input.add-room-amenities__input.filter__checkbox(type="checkbox" name="tv" id="tv")
          label.add-room-amenities__label(for="tv") Телевизор
        li.add-room-amenities__item
          input.add-room-amenities__input.filter__checkbox(type="checkbox" name="shampoo" id="shampoo")
          label.add-room-amenities__label(for="shampoo") Шампунь
        li.add-room-amenities__item
          input.add-room-amenities__input.filter__checkbox(type="checkbox" name="tv" id="tv")
          label.add-room-amenities__label(for="tv") Телевизор
        li.add-room-amenities__item
          input.add-room-amenities__input.filter__checkbox(type="checkbox" name="shampoo" id="shampoo")
          label.add-room-amenities__label(for="shampoo") Шампунь
        
//-   //- шаблон для блока (удобства номера)
//-   template(id="select-amenities-room")
//-     div.amenities-room__option 
//-     span.type-amenities-room Спальни
//-     div.block-count-amenities-room
//-       span.minus-amenities-room -
//-       span.count-amenities-room 2
//-       span.plus-amenities-room +