div.rooms-photos
  //- проверить на переполнение контентом
  div.rooms-photos__column.rooms-photos__column_left
    img.rooms-photos__img(src="../img/main-background.jpg" alt="Большая картинка" width="100px" heigth="100px")
  div.rooms-photos__column.rooms-photos__column_right
    img.rooms-photos__img(src="../img/main-background.jpg" alt="Маленькая картинка" width="100px" heigth="100px")
    img.rooms-photos__img(src="../img/main-background.jpg" alt="Маленькая картинка" width="100px" heigth="100px")