/*для сетки*/
.header {
  border: 1px solid red;

  padding: 15px 0;
}

.logo-link {
  display: block;
  width: 105px;
  height: 40px;
}

.header__logo-link {
  /*для сетки*/
  border: 1px solid red;
  margin: auto; 
  /*margin-top: 15px;
  margin-bottom: 15px;*/
}

.nav-cite {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  /*для сетки*/
  border: 1px solid green;
}

.nav-cite__item {
  text-align: center;
  margin-bottom: 5px;
}

.nav-cite__link {
  text-decoration: none;
  @include style-font-for-navigation();
}

.user-block {
  border: 1px solid green;
}

.user-block__link {
  display: block;
  text-align: center;
  margin-top: 15px;
  text-decoration: none;
  @include general-style-font();
}

.user-block__link_login {
  color: #BC9CFF;
}

.user-block__link_sign-up {
  //color: #FFFFFF;
}

.user-block__link_hidden {
  display: none;
}

@media (min-width: 450px) {
  .header__logo-link {
    display: inline-block;
    margin-left: 0;
  }

  .nav-cite {
    display: inline-block;
  }

  .nav-cite__item {
    display: inline-block;
    margin-right: 20px;
  }

  .nav-cite__item:nth-last-child(1) {
    margin-right: 0px;
  }

  .user-block {
    display: inline-block;
  }

  .user-block__link {
    display: inline-block;
    margin-right: 15px;
  }
  
  .user-block__link_hidden {
    display: none;
  }

  .user-block__link:nth-last-child(1) {
    margin-right: 0;
  }
}

@media (min-width: 615px) {
  .header > .container {
    padding: 0 9.7%;
  }

  .header__logo-link  {
    margin-right: 9.7%;
  }

  .header__nav-cite {
    vertical-align: top;
  }
}

@media (min-width: 980px) {
  .header > .container {
    display: flex;
    align-content: center;
    align-items: center;

    border: 1px solid red;
  }

  .user-block {
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .header__logo-link  {
    margin-right: 19.7%;
  }

  .user-block__link {
    margin-top: 0px;
  }
}

/*.logo {
  display: block;
  width: 110px;
}

.main-header__logo {
  margin: 0 auto;
  margin-top: 10px;
}

.cite-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cite-nav__item {
  text-align: center;
  margin-top: 5px;
}

.cite-nav__link {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  color: rgba(31, 32, 65, 0.5);
  text-decoration: none;
}

.cite-nav__link--select::after {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 10px;
  top: 5px;
  right: -18px;

  background: url('../img/on-select.png') no-repeat;
}

.user-block__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-block__link--login {
  display: block;
  width: 87px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 7px 0;
  text-align: center;
  border: 2px solid #BC9CFF;
  border-radius: 22px;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #BC9CFF;
}

.user-block__link--sign-up {
  display: block;
  width: 196px;
  text-align: center;
  margin: 0 auto;
  margin-top: 5px;
  padding: 8px 15px;
  text-decoration: none;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media (min-width: 600px) {
  .main-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 5%; //10
  }    

  .main-header__logo {
    margin: 0;
    margin-top: 10px;
  }

  .main-header__cite-nav {
    margin-left: auto; //37
  }

  .cite-nav__list {
    display: flex;
    flex-wrap: wrap;
  }

  .cite-nav__link {
    margin-right: 10px;
  }

  .cite-nav__link--select {
    margin-right: 25px;
  }

  .user-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
  }

  .user-block__list {
    display: flex;
    flex-wrap: wrap;
  }

  .user-block__item {
    margin-right: 10px;
  }

  .user-block__link--login {
    margin-top: 5px;
  }
}

@media (min-width: 900px) {
  .main-header__logo {
    margin-right: 15%;
  }

  .cite-nav__item {
    width: auto;
    margin-left: 20px;
  }

  .user-block__list {
    margin-top: 5px;
  }
}*/