/*header*/
.header {
  padding: 15px 0;
}

@media (min-width: 615px) {
  .header > .container {
    padding: 0 9.7%;
  }
}

@media (min-width: 1250px) {
  .header > .container {
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (min-width: 1440px) {
  .header {
    padding: 14px 0;
  }
}
/*header*/

/*<logo-link>*/
.logo-link {
  display: block;
  width: 105px;
  height: 40px;
}

.header__logo-link {
  margin: auto; 
}

@media (min-width: 450px) {
  .header__logo-link {
    display: inline-block;
    margin-left: 0;
  }
}

@media (min-width: 615px) {
  .header__logo-link  {
    margin-right: 9.7%;
  }
}
/*</logo-link>*/

/*<nav-cite>*/
.nav-cite {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

.nav-cite__item {
  text-align: center;
  margin-bottom: 5px;
}

.nav-cite__item_have_sublists .nav-cite__link {
  position: relative;
}

.nav-cite__item_have_sublists .nav-cite__link::after {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  right: -27px;
  width: 20px;
  height: 20px; 
  background: url('../img/sprite.png') no-repeat;
  background-position: -13px -466px;
}

@media (min-width: 450px) {
  .nav-cite {
    display: inline-block;
  }

  .nav-cite__item {
    display: inline-block;
    margin-right: 20px;
  }

  .nav-cite__item_have_sublists {
    margin-right: 40px;
  }

  .nav-cite__item:nth-last-child(1) {
    margin-right: 0px;
  }
}

.nav-cite__link {
  text-decoration: none;
  @include style-font-for-navigation();
}

.user-block__link:active {
  opacity: 0.5;
}

@media (min-width: 615px) {
  .header__nav-cite {
    vertical-align: top;
    margin-right: 45px;
    margin-left: auto;
  }
}

@media (min-width: 1440px) {
  .header__nav-cite {
    margin-left: 14.9%;
    margin-right: 0;
    margin-top: 0;
  }

  .nav-cite__item {
    margin-right: 17px;
  }

  .nav-cite__item_have_sublists {
    margin-right: 40px;
  }

  .nav-cite__item:nth-last-child(1) {
    margin-right: 0;
  }
}
/*</nav-cite>*/

/*<user-block>*/
.user-block__link {
  display: block;
  padding: 10px 20px;
  text-align: center;
  margin-top: 15px;
  text-decoration: none;
  border-radius: 22px;
  @include general-style-font();
}

.user-block__link_login {
  padding: 9px 20px;
  color: #BC9CFF;
  border: 2px solid #BC9CFF;
}

.user-block__link_sign-up {
  color: #FFFFFF;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.user-block__link_hidden {
  display: none;
}

@media (min-width: 350px) {
  .user-block {
    margin: 0 15%;
  }
}

@media (min-width: 450px) {
  .user-block {
    display: inline-block;
    margin: 0;
  }

  .user-block__link {
    display: inline-block;
    margin-right: 15px;
  }
  
  .user-block__link_hidden {
    display: none;
  }

  .user-block__link:nth-last-child(1) {
    margin-right: 0;
  }
}

@media (min-width: 1250px) {
  .user-block {
    margin-top: -10px;
    margin-left: auto;
  }
}

@media (min-width: 1440px) {
  .user-block {
    margin-top: -15px;
  }

  .user-block__link_sign-up {
    margin-right: 0;
  }
}
/*</user-block>*/