//- section.card-order
//- 	span.card-order__number-room №888 <span class="card-order__status-room">люкс</span>
//- 	span.card-order__price <span class="card-order__price-value">9990 Р</span> в сутки
//- 	form.card-order__form(action="#" method="post")
//- 		label.card-order__label(for="datepicker") Прибытие
//- 		input.card-order__input(type="text" id="datepicker" placeholder="19.08.2019")
//- 		label.card-order__label(for="go")
//- 		input.card-order__input(type="text" id="go" placeholder="23.08.2019")
//- 		div.select-visitors
//-       label.select-visitors__label(for="visitors") Гости
//-       input.select-visitors__input(type="text" id="visitors" placeholder="Сколько гостей" readonly)
//-       div.select-visitors__block
//-         div.select-visitors__inner
//-         span.select-visitors__clear Очистить
//-         span.select-visitors__close Выполнить
//-     div.card-order__inner
//-     	div.left
//-     		p.column
//-     			span.price 9990 р х <span class="time">4 суток</span>
//-     			//- не знаю как делать
//-     	div.rigth
