main.main-page.container
  section.search-rooms
    h2.search-rooms__title Найдем номера под ваши желания
    div.date-picker.search-rooms__date-picker
      label.date-picker__label Прибытие
        input.date-picker__input(type="text" placeholder="ДД.ММ.ГГГГ")
      label.date-picker__label Выезд
        input.date-picker__input(type="text" placeholder="ДД.ММ.ГГГГ" readonly)
    div.select-visitors.search-rooms__select-visitors
      label.select-visitors__label Гости
        input.select-visitors__input(type="text" placeholder="Сколько гостей" readonly)
      div.select-visitors__block
        div.select-visitors__inner
        span.select-visitors__clear Очистить
        span.select-visitors__close Выполнить
    button.search-rooms__button Подобрать номер

    p.main-page__slogan Лучшие номера для вашей работы, <br>отдыха и просто вдохновения
//-   //- шаблон для блока выбора колич. людей вьезжающих в номер 
//-   template(id="select-count-visitors")
//-     div.select-count-visitors__option
//-       span.type-visitor Взрослые
//-       div.count-visitors
//-         span.minus-visitor -
//-         span.count-visitor 2
//-         span.plus-visitor +